p
  script document.write(new Date());
  |  - 
  span(style="color: red;").
    ERROR (42): site interrupt - User pressed the wrong button
  br
  | &nbsp; &nbsp; &nbsp; &nbsp; Button id: #dont-push (index.html:32:17)
  br
  | &nbsp; &nbsp; &nbsp; &nbsp; Event type: click ([object Object])
  br
  br
  script document.write(new Date());
  |  - Attempting to relaunch page. . . . . . . . . . FAILED: (24) Image assets keys corrupted
  br
  br
  | Switching to manual override mode. . . . . .
  br
  span(style="color:green;").
    [MANUAL OVERRIDE MODE ACTIVE]
  br
  br
  | Incoming network message:
  br
  span(style="color:yellow;")
    script
      var currentTime = new Date();
      var hours = currentTime.getHours();
      var minutes = currentTime.getMinutes();
      if (minutes < 10)
        minutes = "0" + minutes;
      document.write("(" + hours + ":" + minutes + ") ");
    | jschomay - 
  | Oh, hi there.  You pressed the button, didn't you.  I 
  em knew 
  | you were going to press that button!!
  br
  span(style="color:yellow;")
    script
      var currentTime = new Date();
      var hours = currentTime.getHours();
      var minutes = currentTime.getMinutes();
      if (minutes < 10)
        minutes = "0" + minutes;
      document.write("(" + hours + ":" + minutes + ") ");
    | jschomay - 
  | It's ok, we can fix this.  I just need a little help from you to reconnect my image assets to their database keys.  Think of it as a game...
  br
  span(style="color:yellow;")
    script
      var currentTime = new Date();
      var hours = currentTime.getHours();
      var minutes = currentTime.getMinutes();
      if (minutes < 10)
        minutes = "0" + minutes;
      document.write("(" + hours + ":" + minutes + ") ");
    | jschomay - 
  | Here's what you have to do: For each image fragment that loads from my asset database, you need to figure out which database key it belongs to.  Just click on the key you think describes the image fragment.  Ready?  Go!
  br
  br
  span(style="color:green;")
    [LOADING IMAGE FRAGMENT 1]...
  br
  img(with='100', height='100', src='', border='1', alt='img here')
  br
  | Database keys:
  br
  span(style="color:blue;")
    ["origami"], ["juggler"], ["eagle_scout"], ["unicycle"], ["travel"]



  // Great!  We got the site back up and running in x seconds.  I'll redirect you you there now.