section.about
  a.phone.jump(onclick="return false;") Jump to Projects
  h2 My Creative Side
  :markdown
    **Screenwriting.  Game design.  Visual Design.  UX.  Gamification.  Photography.  Creating with the intent to engage, inspire, & make an impact.**

    I've always been intrinsically creative.  I use creativity to stand out.  I use creativity to solve problems.  I use creativity to make things more fun and more interesting. 

  img.float-left(src='images/screenwriting.jpg', width='140')
  :markdown

    Although creativity plays an important role in all of my endeavors, my main professional creative pursuit is screenwriting.  I love bringing my ideas to life, and drawing others into my worlds.  I have been studying and practicing the craft of screenwriting for many years, and I've developed a strong insight for crafting stories that resonate and entertain.

    I have also recently taken a serious passion in the field of game development -- an arena where I play on both sides of the creative/technical fence.  Creating a game that offers fun playability and a unique attraction is a challenge that requires tremendous creativity, knowledge of the field, and understanding of human psychology, but it is very rewarding.
    
    One interesting aspect of having such a wide a range of interests, is that many of my disciplines overlap.  This leads to unique situations to creativly use elements from one discipline in another.  Another benefit is that I often have a unique perspective, and can pull back to  see the "big picture" from a different angle.

    **I find my creativity comes in four main ways:**

  img.float-right(src='images/czech-picture.jpg', width='120')
  :markdown

    * _Inspiration_.  Experiencing other creative works, and constantly learning. I read a lot.  The library is my friend.  Often one sentence will spark an idea that has been hanging around beneath the surface for a while.  Other times I'll get a glimpse of a new perspective and the inspiration hits all at once.

    * _Travel_.  Getting out, moving, and being in nature always loosens up my mind.  But actual traveling to new and interesting places always seems to fill my mind with all kinds of ideas that I can't wait to play with when I get back home.

    * _Dreaming_.  Sometimes this means actual dreaming, but mostly it's day-dreaming.  I spend a lot of time "staring into space."  But inside, my mind is rapidly exploring complex worlds of branching possibilities.  Something creative always falls out.  The trick is keeping track of all the thoughts, and coercing them into something meaningful and worthwhile.  This is where craft and flexibility comes in.

    * _Intent_.  A lot of the time I just have to make myself be creative.  I identify a problem that I need a creative solution to, and I just start attacking it from different angles, playing games of "what if," and let my mind follow each thread to see where it goes.  Acknowledging  that there is a creative solution out there makes it easier to work towards finding it.




section.projects
  a.phone.jump(onclick="return false;") Jump to Top
  h2 A sample of my work
  .projects-wrapper
    .project
      h3 Feature-length Screenplays
      img(src='images/screenplay2.jpg', width='100', style='border: 1px solid #ccc;')
      ul
        li
          p
           i "Nothing to Fear"
           br
           | Horror.  Currently looking for representation.  Available on 
           a(href="https://www.blcklst.com/members/script/8271", target="_blank") The Black List.
           br
           | "A traumatized woman at an exotic self-help retreat must escape from zombies that can smell fear."
        li
          :markdown
            "_Perception_"  
            Noir.  In progress.

        li
          :markdown
            "_Still Life_"  
            Psychological Drama/Mystery.  In progress.


    .project
      h3 Panoramic Photography
      a(href='http://jeff-schomays-portfolio.com')
        img.float-right(src='images/photography.jpg', width='75') 
      p A collection of unique perspectives from my travels at home and abroad.
      a(href='http://jeff-schomays-portfolio.com') View gallery


    .project
      h3 "Auction"
      p.
        A poker-like card game where you trade cards to make the best hand by bidding on their speculative value.

      p      
        a(href='') Coming soon...

    .project
      h3 "Branding and Marketing Slideshow"
      p.
        This is from quite a while ago, when my focuses were on branding, marketing, and graphic design, but it is interesting to look at still to see my (legacy) perspective on making an impact, plus it has some samples of my old work.

      p      
        a(href='http://www.slideshare.net/jschomay/jeff-schomays-marketing-and-branding-portfolio-and-perspectives?from=embed') See the slideshow

    .project
      h3 Original HTML5 mobile games currently in development
      ul
        li
          p Tetris Death-trap
        li
          p Source Hack
        li
          p Scaffold Armageddon
      p.
        Stay tuned for more details as I finish these games.

  a.phone.jump(onclick="return false;") Jump to Top
