section.about
  a.phone.jump(onclick="return false;") Jump to Projects
  h2 My Creative Side
  :markdown
    **Screenwriting.  Game design.  Visual Design.  UX.  Gamification.  Photography.  Creating with the intent to engage, inspire, & make an impact.**

    I've always been intrinsically creative.  I use creativity to stand out.  I use creativity to solve problems.  I use creativity to make things more fun and more interesting. 

  img.float-left(src='images/screenwriting.jpg', width='140')
  :markdown

    My original way to creatively express myself was primary visual, in a number of mediums, from hand-drawn artwork, to digital art, to photography and cinematics.  

    After earning my degree in Film Production, I became more and more focused on storytelling, and focused my creative expression on screenwriting.

    Recently, I have shifted my focus again, and now apply my creative attention to game design, and the indirect overlap of screenwriting and story in games.

    One interesting aspect of having such a wide a range of interests, is that many of my disciplines overlap.  This leads to unique situations to creativly use elements from one discipline in another.  Another benefit is that I often have a unique perspective, and can pull back to  see the "big picture" from a different angle.

    **I find my creativity comes in four main ways:**

  img.float-right(src='images/czech-picture.jpg', width='120')
  :markdown

    * _Inspiration_.  Experiencing other creative works, and constantly learning. I read a lot.  The library is my friend.  Often one sentence will spark an idea that has been hanging around beneath the surface for a while.  Other times I'll get a glimpse of a new perspective and the inspiration hits all at once.

    * _Travel_.  Getting out, moving, and being in nature always loosens up my mind.  But actual traveling to new and interesting places always seems to fill my mind with all kinds of ideas that I can't wait to play with when I get back home.

    * _Dreaming_.  Sometimes this means actual dreaming, but mostly it's day-dreaming.  I spend a lot of time "staring into space."  But inside, my mind is rapidly exploring complex worlds of branching possibilities.  Something creative always falls out.  The trick is keeping track of all the thoughts, and coercing them into something meaningful and worthwhile.  This is where craft and flexibility comes in.

    * _Intent_.  A lot of the time I just have to make myself be creative.  I identify a problem that I need a creative solution to, and I just start attacking it from different angles, playing games of "what if," and let my mind follow each thread to see where it goes.  Acknowledging  that there is a creative solution out there makes it easier to work towards finding it.




section.projects
  a.phone.jump(onclick="return false;") Jump to Top
  h2 Creative Work
  .project
    h3 Feature-length Screenplays (available by request)
    img.float-right(src='images/screenplay2.jpg', width='100', style='border: 1px solid #ccc;')
    ul
      li
        :markdown
          "_People Watching_"  
          Noir.  A struggling PI gets a break when a local millionaire hires him to follow his wife.  But when the wife turns up dead, the PI is the primary suspect, and must unravel a deeper chain of crimes to prove his innocence.

      li
        :markdown
          "_Still Life_"  
          Psychological mystery.  A rootless vagabond woman searching for her true identity takes shelter in an abandoned house, which awakens memories that remind her of what she has been running from her whole life.

      li
        :markdown
         "Nothing to Fear"  
         Horror.  A traumatized woman at an exotic self-help retreat must escape from zombies that can smell fear.

  .project
    h3 Panoramic Photography
    a(href='http://photogragphy.jeffschomay.com')
      img.float-right(src='images/photography.jpg', width='75') 
    p A collection of unique perspectives from my travels at home and abroad.
    a(href='http://photogragphy.jeffschomay.com') View gallery


  .project
    h3 Numerous HTML5 mobile games currently in development
    p
      | See my
      a(href="http://jschomay.tumblr.com/tagged/games") Ludography (List of games)  
      | and 
      a(href="http://jschomay.tumblr.com/tagged/dev-notes") development notes.

  
  a.phone.jump(onclick="return false;") Jump to Top
  .project
    h3 "Branding and Marketing Slideshow"
    p.
      This is from quite a while ago, when my focuses were on branding, marketing, and graphic design, but it is interesting to look at still to see my (legacy) perspective on making an impact, plus it has some samples of my old work.

    p      
      a(href='http://www.slideshare.net/jschomay/jeff-schomays-marketing-and-branding-portfolio-and-perspectives?from=embed') See the slideshow

