section.about
  a.phone.jump(onclick="return false;") Jump to Projects
  h2 My Creative Side
  :markdown
    **Screenwriting.  Game design.  Narrative design.  Visual Design.  UX.**

    I didn't start out as a programmer, and in fact my degree is in Film Production.  I've always been intrinsically creative.  I use creativity to stand out.  I use creativity to solve problems.  But mostly I use creativity to make things more fun and more interesting. 

  img.float-left(src='http://photography.jeffschomay.com/ArtWork/images/romangarden.jpg', width='140')
  :markdown

    My original way to creatively express myself was primary visual, in a number of mediums, including [hand-drawn and digital artwork](http://photography.jeffschomay.com/ArtWork/twodimensional.htm), [3D graphics](http://photography.jeffschomay.com/ArtWork/mywork.htm), and photography.  

    After earning my degree in Film Production, I became more and more focused on storytelling, and focused my creative expression on screenwriting.

    Recently, I have shifted my focus again, and now apply my creative attention to game design, and the overlap of screenwriting and story in games.

    One interesting aspect of having such a wide a range of interests, is that many of my disciplines overlap.  This leads to unique situations to creatively use elements from one discipline in another.  Another benefit is that I often have a unique perspective, and can pull back to  see the "big picture" from a different angle.


section.projects
  a.phone.jump(onclick="return false;") Jump to Top
  h2 Creative Work
  .project
    h3 Feature-length Screenplays
    img.float-left(src='images/screenwriting.jpg', width='100', style='border: 1px solid #ccc;')
    :markdown
      I've written a few screenplays including "_Someone's Gotta Pay_": A struggling PI gets a break when a local millionaire hires him to follow his wife.  But when the wife turns up dead, the PI is the primary suspect, and must unravel a deeper chain of crimes to prove his innocence.

      Some of my screenplays I've been turning into interactive fiction.

  .project
    h3 Game design
    a(href='http://jugglemonkey.com')
      img.float-right(src='http://jugglemonkey.com/img/portfolio/quote-decoder/splash.jpg', width='100', style='border: 1px solid #ccc;')
    :markdown
      I constantly come up with creative game ideas.  Some of them are playable online on my [games portfolio](http://jugglemonkey.com).

  .project
    h3 Panoramic Photography
    a(href='http://fineartamerica.com/profiles/jeff-schomay.html?tab=artworkgalleries&artworkgalleryid=22522')
      img.float-right(src='images/czech-picture.jpg', width='75') 
    p A collection of unique perspectives from my travels at home and abroad.
    a(href='http://fineartamerica.com/profiles/jeff-schomay.html?tab=artworkgalleries&artworkgalleryid=22522') View gallery

  a.phone.jump(onclick="return false;") Jump to Top
