!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Header
    #content
      #creative-content
        block creative-content
      #technical-content
        block technical-content
    footer
      p Footer