!!!5
//if IE 7
  <html class="ie7" lang="en">
//[if gt IE 8]><!
html
  //<![endif]
  head
    //if lte IE 8
      script
        document.createElement("header");  
        document.createElement("footer"); 
        document.createElement("article"); 
        document.createElement("section"); 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Jeff Schomay - My Creative and Technical Sides
    meta(name='description', content='Jeff Schomay\'s main site describing his creative and technical sides and listting some of his recent projects.')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/css/style.css')
    script
      var console=console||{"log":function(){}};
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.0/fastclick.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.08/jquery.masonry.min.js")
    script(src="/js/main.js")
    script(src="/js/mini-game.js")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40140506-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body.technical
    //if lt IE 7
      p.chromeframe
        | You are using an&nbsp;
        strong outdated
        | &nbsp;browser. Please&nbsp;
        a(href='http://browsehappy.com/') upgrade your browser
        | &nbsp;or&nbsp;
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | &nbsp;to improve your experience.
    #page
      header
        #switch
        #arrow
        h1 Jeff Schomay
        h2
          script
            (function(z){
              // contact obscurer
              var t = "&#051;&#050;&#051;&#045;&#052;&#049;&#056;&#045;&#050;&#051;&#056;&#052;",
                  e = "&#106;&#115;&#099;&#104;&#111;&#109;&#097;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;",
                  f = function(x,y){
                    document.write("<a hre" + x + ":" + y + ">" + y + "</a>");
                  };
              f("f=t"+"el", t);
              document.write(" | ");
              f("f=ma"+"ilto",e);
            })();
        #buttons
          a#resume(href='jeff_schomay_programming_resume.pdf', target='_blank')
          a#twitter(href='https://twitter.com/jschomay')
          a#dont-push(href='', onclick='return false;')
      #content
        block content

      footer
        :markdown
          This site was designed and coded by Jeff Schomay using [Node.js](http://nodejs.org), [Express](http://expressjs.com/), [Jade](http://jade-lang.com/), [Stylus](http://learnboost.github.io/stylus/), and [Coffeescript](http://coffeescript.org).  
          You can view the source on [Github](https://github.com/jschomay/jeffschomay.com).