!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    script(src="/js/jquery.masonry.min.js")
    script
      window.addEventListener('load', function() {
        var mySwitch = document.getElementById('switch');
        var body = document.getElementsByTagName('body')[0];
        mySwitch.addEventListener('click', function(e) {
          // only switch if you click the right part of the switch
          if (body.className === 'technical' && e.pageX > document.width/2
            || body.className === 'creative' && e.pageX< document.width/2) {
            // only ever expect a class of "technical" or "creative" on the body tag
            // since it's my code, I'll make sure of that
            body.className = body.className === "technical" ? "creative" : "technical";
          }
        });
      });
      $(document).ready(function() {
        var $container = $('#widgets');
        $container.imagesLoaded(function(){
          $container.masonry({
            itemSelector : '.widget',
            columnWidth : $container.width()/2
          });
        });
      });
  body.creative
    header
      #switch
      h1 Jeff Schomay
      h2 323-418-2384 | jschomay@gmail.com
    #content
      block content

    footer
      :markdown
        This site was designed and coded by Jeff Schomay using [Express](http://expressjs.com/), [Jade](http://jade-lang.com/), and [Stylus](http://learnboost.github.io/stylus/).  View the source on [Github](href="https://github.com/jschomay/jeffschomay.com").