section.about
  a.phone.jump(onclick="return false;") Jump to Projects
  h2 My Technical Side
  :markdown
    **JavaScript.  CoffeeScript.  Node.  HTML5.  Mobile.  Apps.  Games.**

    I love programming.  I love having the power to create at my fingertips.   The challenge of making everything fit together elegantly.  But most of all, I love being able to create something fun and interesting, and turn a creative idea into an engaging interactive experience.  

    My focus is on game development, especially for mobile.  I've been inspired by the seemingly magic art of making a simple mechanic so incredibly fun and addicting through good game design.  As a screenwriter, I'm lured by the open opportunities to use stories and create worlds in new ways.

    I have always been amazed with computer programmers, and I've often flirted with coding -- from writing simple text-based adventure games in BASIC on my cassette-tape-driven TRS-80, to dabbling with C++ and OpenGL in college, to working as a full time web developer.

    But it's only been in the last few years, that I've really considered myself a true hacker.  Since then  I've learned so much about writing good, clean code, and the learning hasn't slowed down yet.  I can't stop thinking about code.

    Of course, my more visual "right-brain" side hasn't gone away, and I find myself in a very awesome position at the crossroads of technical coding and visual/conceptual design.  This unique position is what differentiates and defines me.


section.projects
  a.phone.jump(onclick="return false;") Jump to Top
  h2 Technical Projects
  p A sample of what I'm working on:

  .projects-wrapper

    .project
      h3 Games currently in development
      ul
        li
          p Auction (card game)
        li
          p Tetris Death-trap
        li
          p Source Hack
        li
          p Scaffold Armageddon
      p.
        More details, links to play, screenshots, etc. will come...

    .project
      h3 Argus mobile app
      a.float-left(href='http://m.argus-selfstorage.com', target='_blank', style='padding-top: 5px; margin-bottom: 2px;') 
        img(src='images/argus.png')
      p.
        A simple business app for Argus Self-Storage.  Native feel version of their website, built with Sencha Touch.  Syncs wth their main database.
      p
        a(href='http://m.argus-selfstorage.com', target='_blank') View app
        br
        | (Intended for phone)

    .project
      h3 Follow my work on github
      p
        a(href='https://github.com/jschomay') https://github.com/jschomay

  a.phone.jump(onclick="return false;") Jump to Top
