#left
  h2 My technical Side
  :markdown
    Vivamus hendrerit arcu sed erat molestie
    vehicula. Sed auctor neque eu tellus
    rhoncus ut eleifend nibh porttitor. Ut in.

    this is _em_ and this is **bold** test

    a new pp with a [link](test.com)

    - test

    - another

    ...

#right
  h2 Technical Projects
  p A sample of what I'm working on:
  #widgets
    for p in [4,5,5]
      .widget
        h3 Project #{p}
        p.
          Here's a little something...