section.about
  a.phone.jump(onclick="return false;") Jump to Projects
  h2 My Technical Side
  :markdown
    **Full-stack web application development.  Polyglot.  Functional programming.  Game dev.**

    I love coding.  I spend most of my time writing code, or talking about code, or thinking about code.  With my code before me in vim, I have the power to create anything, literally at my fingertips.

    I wasn't always a programmer.  Although I played with coding ever since I learned to make simple games on my TRS-80 in BASIC, my original focus was more visual, and I earned a BFA degree in Film Production rather than CS.  Since then however, I have dove deep, and continue to diligently hone my skills and stay active in the community.

    I've gathered a wide array of experience, both professionally and in my side-projects.  These experiences have led me to appreciate functional programming, a topic which I am particularly passionate about.  I have spoken at conferences, written articles, and made videos and tutorials around the web.




section.projects
  a.phone.jump(onclick="return false;") Jump to Top
  h2 Technical Work

  .project
    h3 Github and CV
    p See all my code on&nbsp;
      a(href='https://github.com/jschomay') Github
    p Download my&nbsp;
      a(href="https://docs.google.com/document/d/1sR0ybKmlTuQCwaVnOR-onCcTs_Gv5-DUTSzh7jU4ykw/edit?usp=sharing") CV

  .project
    h3 Game dev
    a(href='http://games.jeffschomay.com')
      img(src='https://games.jeffschomay.com/img/portfolio/rock-climbing-robot-racers/splash.jpg', width='150', style='border: 1px solid #ccc;')
    :markdown
      I've made a few games in multiple tech stacks.  You can find the source and play them on my [games portfolio](http://games.jeffschomagames.jeffschomay.com).

  .project
    h3
      p Conference talks
      <iframe width="270" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLuygUufmilnpbF37SmNVFyl32sVCoyDy0" frameborder="0" allowfullscreen></iframe>


  a.phone.jump(onclick="return false;") Jump to Top
