section.about
  a.phone.jump(onclick="return false;") Jump to Projects
  h2 My Technical Side
  :markdown
    **JavaScript.  CoffeeScript.  Node.  HTML5.  Mobile.  Apps.  Games.**

    I love programming.  I love having the power to create at my fingertips.   The challenge of making everything fit together elegantly.  But most of all, I love being able to create something fun and interesting, and turn a creative idea into an engaging interactive experience.  

    My focus is on game development, especially for mobile.  I've been inspired by the seemingly magic art of making a simple mechanic so incredibly fun and addicting through good game design.  As a screenwriter, I'm lured by the open opportunities to use stories and create worlds in new ways.

    I have always been amazed with computer programmers, and I've often flirted with coding -- from writing simple text-based adventure games in BASIC on my cassette-tape-driven TRS-80, to dabbling with C++ and OpenGL in college, to working as a full time web developer.

    But it's only been in the last few years, that I've really considered myself a true hacker.  Since then  I've learned so much about writing good, clean code, and the learning hasn't slowed down yet.  I can't stop thinking about code.

    Of course, my more visual "right-brain" side hasn't gone away, and I find myself in a very awesome position at the crossroads of technical coding and visual/conceptual design.  This unique position is what differentiates and defines me.


section.projects
  a.phone.jump(onclick="return false;") Jump to Top
  h2 Technical Projects

  .project
    h3 Github and CV
    p See all my code on my  
      a(href='https://github.com/jschomay') github account
      |.
    p Take a look at my  
      a(href="/jeff_schomay_programming_resume.pdf") CV/Resumé
      |.


  .project
    h3 #gamedev ftw!
    p See the ever-growing list of  
      a(href="http://jschomay.tumblr.com/tagged/games") all my game projects
      |.
    p You can also follow my progress and see behind-the-scenes media and my  
      a(href="http://jschomay.tumblr.com/tagged/dev-notes") development notes  
      |.


  .project
    h3 Apps
    p See some of my  
      a(href="http://jschomay.tumblr.com/tagged/apps") apps and personal projects
      |.


  .project
    h3 No HTML, CSS, or JavaScript was used in the making of this website
    :markdown
      This site was built on [Node.js](http://nodejs.org) using [Express](http://expressjs.com/), [Jade](http://jade-lang.com/) (with markdown), [Stylus](http://learnboost.github.io/stylus/), and [Coffeescript](http://coffeescript.org).
      
      [View the source on github](https://github.com/jschomay/jeffschomay.com) to see what I mean.

      This site also uses responsive design -- change the size of your browser or view it on a different device to see it change.

      And if you didn't press the "Don't push" button above yet, now's a good time to push it...



  .project
    h3 Draw Something clone
    p.
      I worked with another developer on a html5/nodejs variation of the popular Draw Something.  I was in charge of the front end functionality, and also built an engine to run different types of async-style games with varying numbers of rounds and difficulty levels.  We got a few different game types working.
    p Unfortunately there is no playable demo at this time.


  .project
    h3 Proximity chat app
    p.
      For the 2012 ATT hackathon, I worked on the front end of a proximity-based live chat application using jquery-mobile, socket.io, and a node.js backend with redis.
    p The app worked, but was abandoned with no playable demo.


  .project
    h3 Educational games at Two Bit Circus
    p
      | I worked with a really cool company in LA called 
      a(href="http://twobitcircus.com/", target='_blank') Two Bit Circus 
      | where I was part of a team working on a large scale html5/javascript based game platform for the iPad to be used in schools.  I worked on designing the core engine as well as a number of specific game-type engines, and a bunch of individual games.
    p.
      For example, I created a highly interactive number-line tool, a balance scale that measured both equations and draggalbe weights, and a card-sorting engine.

  a.phone.jump(onclick="return false;") Jump to Top
  

  .project
    h3 Legacy stuff
    p.
      At my old job I was tasked to come up with fun interactive experiences to draw users to our clients' Facebook pages.  
    a(href="https://www.facebook.com/pages/Fast-Cash-Pawn-Jewelry/116653718350461?id=116653718350461&sk=app_219321538093850", target="_blank")
      img(src="images/facebook-games.jpg")
    p
      |One simple game was for Fast Cash, where players guess how much Fast Cash paid in actual cash for gold transactions.  Analytics are recorded for every action and the plays are shared across the social channels.  
      a(href="https://www.facebook.com/pages/Fast-Cash-Pawn-Jewelry/116653718350461?id=116653718350461&sk=app_219321538093850", target="_blank") Try it yourself

    p
      |I also did other games, like a trivia game for Big Air Jumpers' Disney line of inflatable jump houses. 
      a(href="https://www.facebook.com/BigAirJumpers/app_219321538093850", target="_blank") Play now

