section.about
  a.phone.jump(onclick="return false;") Jump to Projects
  h2 My Technical Side
  :markdown
    **Full-stack web application development.  Polyglot.  Functional programming.  Game dev.**

    I love coding.  I spend most of my time writing code, or talking about code, or thinking about code.  With my code before me in vim, I have the power to create anything literally at my fingertips.
    
    I wasn't always a programmer.  Although I played with coding ever since I learned to make simple games on my TRS-80 in BASIC, my original focus was more visual, and I earned a BFA degree in Film Production rather than CS.  Since then however, I have become an expert and continue to diligently hone my skills and stay active in the community.

    All of my experiences have led me to functional programming, especially statically typed languages.  In particular, I have become extremely active in Elm and I can't get enough.  I have spoken at Elm conferences, I have open source Elm projects, I run meetups and teach Elm, and I have championed [using Elm at Pivotal Tracker](https://www.pivotaltracker.com/blog/Elm-pivotal-tracker/).




section.projects
  a.phone.jump(onclick="return false;") Jump to Top
  h2 Technical Work

  .project
    h3 Github and CV
    p See all my code on  
      a(href='https://github.com/jschomay') Github
    p Download my 
      a(href="/jeff_schomay_programming_resume.pdf") CV

  .project
    h3 Game dev
    a(href='http://jugglemonkey.com')
      img(src='http://jugglemonkey.com/img/portfolio/haskellmind/splash.jpg', width='150', style='border: 1px solid #ccc;')
    :markdown
      I've made a few games in multiple tech stacks.  You can find the source and play them on my [games portfolio](http://jugglemonkey.com).

  .project
    h3 My ElmConfUS2016 talk
    p I debut my 
      a(href='http://elmnarrativeengine.com') Elm Narrative Engine 
      | and talk about the challenges of building it in Elm
      <iframe width="270" src="https://www.youtube-nocookie.com/embed/t8RSxzpw1Yw" frameborder="0" allowfullscreen></iframe>


  a.phone.jump(onclick="return false;") Jump to Top
