// nib for vendor previxes and some extra goodies
@import 'nib'
//  grid
@import "bootstylus/reset.styl"
@import "bootstylus/variables.styl"
@import "bootstylus/mixins.styl"

$gridColumnWidth = 40px
$gridGutterWidth = 40px

// convinience shorthand
row()
  $makeRow()
column(span)
  $makeColumn(span)
offset(span)
  $gridSystem-offset($gridColumnWidth, $gridGutterWidth, span)



// from nib
global-reset()





h1
  font-size 1.8em
  padding 20px
  padding-bottom 10px
  letter-spacing .4em

h2
  font-size 1.5em
  margin-bottom 10px

h3
  font-size .9em
  font-weight 600
  margin-bottom 5px

p
  margin-bottom 20px
  line-height 1.5
em
  font-style italic

strong
  font-weight 600

li
  margin-left 20px
  margin-bottom 10px
  list-style circle

a
  text-decoration none

.float-left
  float left
  margin-right 10px
  margin-bottom 10px

.float-right
  float right
  margin-left 10px
  margin-bottom 10px

.center
  display block
  margin auto

.phone
  display none


body
  font-size 100%


#page
  overflow hidden

header
  $container-fixed()
  padding 30px 0px
  text-align center
  position relative

  h2
    font-size 1.2em

    a
      text-decoration none


  #switch
    cursor pointer
    position relative
    margin auto
    width 225px
    height (@width / 1.4)
    background-image url('/images/switch.jpg')
    background-size 100%

  #arrow
    position absolute
    left 50%
    width 275px
    height (@width / 4)
    background-image url('/images/arrows.jpg')
    background-size 100%

  #buttons
    position relative
    margin auto
    width 340px
    height (@width / 3.3)
    background-image url('/images/buttons-blog.jpg')
    background-size 100%

    a
      width 27%
      height 100%
      display block
      float left
      margin 0 3%

#content
  $container-fixed()

article#creative, article#technical
  row()

  section.about
    column 8
    text-align justify

  section.projects
    column 4

    .project
      $clearfix()
      margin-bottom 20px
      border-bottom 1px dotted #ccc

      p
        font-size .9em
        margin-bottom 10px
        line-height 1.3

      &:last-of-type
        border-bottom none






// technical side overrides
technical-background-color = #333333
technical-color = #ddd
technical-font = 1em sans-serif

body.technical

  font technical-font
  font-weight 200
  background-color technical-background-color
  color technical-color

  header
    h2, h2 a, h2 a:hover
      color inherit

  #switch
    background-position 0 0

  #arrow
    top 40px
    margin-left 120px

  #buttons
    background-position 0 0

  article#creative
    height 0px
    overflow hidden

  article#technical .projects
    ul, li
      list-style none
    img
      border 2px solid #777

  #content
    h1, h2
      border-bottom 1px dotted technical-color

  a
    color #DABA10
  a:hover
    color #DB521D




// creative side overrides
creative-background-color = #fcfcfc
creative-color = #444
creative-font = 1em sans-serif

body.creative

  background-color creative-background-color
  color creative-color
  font creative-font

  header
    header
    h2, h2 a, h2 a:hover
      color inherit

  #content
    h1, h2
      border-bottom 1px dotted creative-color

  a
    color #DABA10
  a:hover
    color #DB521D

  #switch
    background-position 0 100%

  #arrow
    top 30px
    margin-left -400px
    background-position 0 100%

  #buttons
    background-position 0 100%

  article#technical
    height 0px
    overflow hidden



// mini-game
body.game-mode
  background black
  color white
#stage
  font technical-font
  font-size .8em

  .fragment
    width 75px
    height 75px
    margin 10px

  .full-image-wrapper
    margin 10px
    .full-image
      max-width 100%
      overflow  hidden
      background-size 100%

  .key
    cursor pointer
    color lightblue
    &:hover
      color white



// responsive media queries
// less than tablet
// @media (max-width: 480px)
@media (max-width: 767px)
  
  #page, header, #content, #technical, #creative, .about, .projects, .projects-wrapper, .project, #stage
    box-sizing border-box
    width 100% !important

  .phone
    display auto

  .jump
    display block
    margin auto
    width 180px
    background #444
    padding: 10px 5px
    text-align center
    border 2px solid#555
    margin-top  20px

  #creative .jump
    border 1px dotted #ccc
    background #eee

  header
    h2 
      line-height 1.9

    #switch
      width 190px
      height (@width / 1.4)

    #arrow
      display none

    #buttons
      width 320px
      height (@width / 3.3)

  #content
    padding 0 20px

    section
      margin-bottom 40px

    h2
      padding-top 20px
      margin-top 40px


// tablet
@media (min-width: 768px) and (max-width: 979px)
  $makeRow()
    margin-left: 2.762430939% * -1
    $clearfix()

  $makeColumn($columns = 1)
    float: left
    margin-left: 2.762430939%
    width: (5.801104972% * $columns) + (2.762430939% * ($columns - 1))


  #page, header, #content, #stage, article#technical, article#creative
    box-sizing border-box
    width 100%

  article#technical, article#creative
    margin 0 20px
    section.about,
      box-sizing border-box
      $makeColumn 8
    section.projects
      box-sizing border-box
      $makeColumn 4

