// nib for vendor previxes and some extra goodies
@import 'nib'
//  grid
@import "bootstylus/reset.styl"
@import "bootstylus/variables.styl"
@import "bootstylus/mixins.styl"

// load font (from google web fonts)
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Code Pro ExtraLight'), local('SourceCodePro-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqS-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqSmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}

$gridColumnWidth = 40px
$gridGutterWidth = 40px

// convinience shorthand
row()
  $makeRow()
column(span)
  $makeColumn(span)
offset(span)
  $gridSystem-offset($gridColumnWidth, $gridGutterWidth, span)



// from nib
global-reset()





h1
  font-size 1.8em
  padding 20px
  padding-bottom 10px
  letter-spacing .4em

h2
  font-size 1.5em
  margin-bottom 10px

h3
  font-size .9em
  font-weight 600
  margin-bottom 5px

p
  margin-bottom 20px
  line-height 1.5
em
  font-style italic

strong
  font-weight 600

li
  margin-left 20px
  margin-bottom 10px
  list-style circle

a
  text-decoration none

.float-left
  float left
  margin-right 10px
  margin-bottom 10px

.float-right
  float right
  margin-left 10px
  margin-bottom 10px

.center
  display block
  margin auto

.phone
  display none


body
  font-size 100%


#page
  overflow hidden

header
  $container-fixed()
  padding 30px 0px
  text-align center
  position relative

  h2
    font-size 1.2em

    a
      text-decoration none


  #switch
    cursor pointer
    position relative
    margin auto
    width 225px
    height (@width / 1.4)
    background-image url('/images/switch.jpg')
    background-size 100%

  #arrow
    position absolute
    left 50%
    width 275px
    height (@width / 4)
    background-image url('/images/arrows.jpg')
    background-size 100%

  #buttons
    position relative
    margin auto
    width 340px
    height (@width / 3.3)
    background-image url('/images/buttons.jpg')
    background-size 100%

    a
      width 27%
      height 100%
      display block
      float left
      margin 0 3%

#content
  $container-fixed()

article#creative, article#technical
  row()

  section.about
    column 6

  section.projects
    column 6

    .projects-wrapper
      row()

      .project
        column 3
        margin-bottom 20px
        border-bottom 1px solid #ccc

        p
          font-size .9em
          margin-bottom 10px
          line-height 1.3

footer
  $container-fixed()
  text-align center
  padding-top 20px
  font-size .9em





// technical side overrides
technical-background-color = #333333
technical-color = #ffffff
technical-font = 1em 'Source Code Pro', 'Monaco', 'Consolas', 'Lucida Console', 'monospace'

body.technical

  font technical-font
  font-weight 300
  // #content
  background-color technical-background-color
  color technical-color

  header
    h2, h2 a, h2 a:hover
      color #6FE053

  #switch
    background-position 0 0

  #arrow
    top 40px
    margin-left 120px

  #buttons
    background-position 0 0

  article#creative
    height 0px
    overflow hidden

  h2
    color #22B7C4

  h3
    color #DD1F1F

  a
    color #C734DB
  
  a:hover
    color #6FE053

  footer
    width 100%
    border-top 4px solid #EEE
    background #555



// creative side overrides
creative-background-color = #fcfcfc
creative-color = #000000
creative-font = 1.1em 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', 'serif'

body.creative

  background-color creative-background-color
  color creative-color
  font creative-font

  header
    header
    h2, h2 a, h2 a:hover
      color inherit

  #content
    h1, h2
      border-bottom 1px solid creative-color

    h3
      color #21A3C4

  a
    color #DABA10
  a:hover
    color #DB521D

  #switch
    background-position 0 100%

  #arrow
    top 30px
    margin-left -400px
    background-position 0 100%

  #buttons
    background-position 0 100%

  article#technical
    height 0px
    overflow hidden

  footer
    background #555
    width 100%
    color white
    padding 20px 0


// mini-game
body.game-mode
  background black
  color white
#stage
  font technical-font
  font-size .8em

  .fragment
    width 75px
    height 75px
    margin 10px

  .full-image-wrapper
    margin 10px
    .full-image
      // max-width 90%
      overflow  hidden
      background-size 100%

  .key
    cursor pointer
    color lightblue
    &:hover
      color white



// responsive media queries

@media (max-width: 480px)
  
  #page, header, #buttons, #content, #technical, #creative, .about, .projects, .projects-wrapper, .project, footer
    box-sizing border-box
    width 100% !important

  .phone
    display auto

  .jump
    display block
    margin auto
    width 180px
    background #444
    padding: 10px 5px
    text-align center
    border 2px solid#555
    margin-top  20px

  #creative .jump
    border 3px solid #ccc

  header
    h2 
      line-height 1.9

    #switch
      width 190px
      height (@width / 1.4)

    #arrow
      display none

  #content
    padding 0 20px

    section
      margin-bottom 40px

    h2
      padding-top 20px
      margin-top 40px

    #technical h2
      border-top 1px solid #AAA

  footer
    padding 20px 20px 0 20px