// nib for vendor previxes and some extra goodies
@import 'nib'
//  grid
@import "bootstylus/reset.styl"
@import "bootstylus/variables.styl"
@import "bootstylus/mixins.styl"

// load font (from google web fonts)
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Code Pro ExtraLight'), local('SourceCodePro-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqS-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqSmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}

$gridColumnWidth = 40px
$gridGutterWidth = 40px

// convinience shorthand
row()
  $makeRow()
column(span)
  $makeColumn(span)
offset(span)
  $gridSystem-offset($gridColumnWidth, $gridGutterWidth, span)



// from nib
global-reset()





h1
  font-size 1.8em
  padding 20px
  padding-bottom 10px
  letter-spacing .4em

h2
  font-size 1.5em
  margin-bottom 10px

h3
  font-size .9em
  font-weight 600
  margin-bottom 5px

p
  margin-bottom 20px
  line-height 1.5
em
  font-style italic

strong
  font-weight 600

li
  margin-left 20px
  margin-bottom 10px
  list-style circle

.float-left
  float left
  margin-right 10px
  margin-bottom 10px

.float-right
  float right
  margin-left 10px
  margin-bottom 10px

.center
  display block
  margin auto



body
  font-size 100%

header
  padding 30px 0px 50px
  text-align center
  position relative

  h2
    font-size 1.2em

    a
      text-decoration none

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  // border-bottom 1px solid darken(main-color, 30%)

  #switch
    cursor pointer
    position relative
    margin auto
    width 225px
    height (@width / 1.4)
    background-image url('/images/switch.jpg')
    background-size 100%

  #arrow
    position absolute
    left 50%
    width 275px
    height (@width / 4)
    background-image url('/images/arrows.jpg')
    background-size 100%

#content
  $container-fixed()

#creative-content, #technical-content
  row()

#left
  column 6

#right
  column 6

  .projects
    row()

    .project
      column 3
      margin-bottom 20px
      border-bottom 1px solid #ccc

      p
        font-size .9em
        margin-bottom 10px
        line-height 1.3

footer
  $container-fixed()
  text-align center
  padding-top 20px
  font-size .8em





// technical side overrides
technical-background-color = #333333
technical-color = #ffffff
technical-font = 1em font-family 'Source Code Pro', 'Monaco', 'Consolas', 'Lucida Console', 'monospace'

.technical

  font technical-font
  font-weight 300
  // #content
  background-color technical-background-color
  color technical-color

  header
    h2, h2 a, h2 a:hover
      color #6FE053

  #switch
    background-position 0 0

  #arrow
    top 40px
    margin-left 120px

  #creative-content
    // visibility hidden
    height 0px
    overflow hidden

  h2
    color #22B7C4

  h3
    color #DD1F1F

  a
    color #C734DB
  
  a:hover
    color #6FE053

  footer
    width 100%
    border-top 4px solid #EEE
    background #555



// creative side overrides
creative-background-color = #fcfcfc
creative-color = #000000
creative-font = 1.1em font-family 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', 'serif'

.creative

  background-color creative-background-color
  color creative-color
  font creative-font

  header
    header
    h2, h2 a, h2 a:hover
      color inherit

  #content
    h1, h2
      border-bottom 1px solid creative-color

    h3
      color #21A3C4

  a
    color #DABA10
  a:hover
    color #DB521D

  #switch
    background-position 0 100%

  #arrow
    top 30px
    margin-left -400px
    background-position 0 100%

  #technical-content
    // visibility hidden
    height 0px
    overflow hidden

  footer
    background #555
    width 100%
    color white

