// nib for vendor previxes and some extra goodies
@import 'nib'
// semantic grid
@import 'grid'
// grid variabls
// total-width = 100%

// from nib
global-reset()

technical-background-color = #333333
technical-color = #ffffff
technical-font = 1em font-family "Monaco", "Consolas", "Lucida Console", "monospace"

creative-background-color = #fafafa
creative-color = #000000
creative-font = 1em font-family "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", "serif"

border-size = 0px solid // for outlining divs

// technical | creative switch
.technical
  font technical-font
  // #content
  background-color technical-background-color
  color technical-color
  #switch
    background-position 0 0
  #creative-content
    display none

.creative
  background-color creative-background-color
  color creative-color
  font creative-font
  #switch
    background-position 0 100%
  #technical-content
    display none


h1
  font-size 1.8em
  padding 5px
  letter-spacing .4em
  font-style italic
  line-height 1.7em

h2
  font-size 1.3em

h3
  font-size 1em



body
  font-size 100%

header
  padding 30px 0px 50px
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  // border-bottom 1px solid darken(main-color, 30%)

  #switch
    position relative
    margin auto
    width 225px
    height (@width / 1.4)
    background-image url('/images/technical-creative.png') //optimize this or use jpg w/ light and dark bg
    background-size 100%

#content
  // column 12
  margin auto
  width 960px+4 // for borders, take off when done
  overflow hidden
  border border-size green

#left
  border border-size blue
  column 6
  p
    margin-bottom 20px

#right
  border border-size red
  column 6

  #widgets
    row 6

    .widget
      column 2,6

      h1
        margin 13px 10px 4px
        padding-bottom 10px
        border-bottom 1px dotted #ddd
        border-radius 2px 2px 0px 0px
        margin-bottom 10px

      p
        font-size 13px
        padding 0px 10px
        margin-bottom 10px

p
  line-height 1.8

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px