body {
  width: 100%;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url("http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqcVNtom4QlEDNJaqqqzqdSs.woff") format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), url("http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqSmgpmuQqK2I-L2S9cF65Ek.woff") format('woff');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.technical {
  font: 1em font-family 'Source Code Pro', 'Monaco', 'Consolas', 'Lucida Console', 'monospace';
  font-weight: 300;
  background-color: #333;
  color: #fff;
}
.technical #switch {
  background-position: 0 0;
}
.technical #creative-content {
  display: none;
}
.creative {
  background-color: #fcfcfc;
  color: #000;
  font: 1.1em font-family 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', 'serif';
}
.creative #content h1,
.creative #content h2 {
  border-bottom: 1px solid #000;
}
.creative #switch {
  background-position: 0 100%;
}
.creative #technical-content {
  display: none;
}
h1 {
  font-size: 1.8em;
  padding: 20px;
  padding-bottom: 10px;
  letter-spacing: 0.4em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
h3 {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 3px;
}
p {
  margin-bottom: 10px;
  line-height: 1.5;
}
em {
  font-style: italic;
}
strong {
  font-weight: 600;
}
li {
  margin-left: 20px;
  list-style: circle;
}
body {
  font-size: 100%;
}
header {
  padding: 30px 0px 50px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
}
header h2 {
  font-size: 1.2em;
}
header #switch {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 225px;
  height: 160.71428571428572px;
  background-image: url("/images/technical-creative.png");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}
#content {
  width: 960px;
  margin: auto;
  overflow: hidden;
  border: 0px solid #008000;
}
#left {
  border: 0px solid #00f;
  display: inline;
  float: left;
  overflow: hidden;
  width: 600px;
  margin: 0 20px;
  *width: 600px -correction;
  *margin: 0 20px -correction;
}
#right {
  border: 0px solid #f00;
  display: inline;
  float: left;
  overflow: hidden;
  width: 280px;
  margin: 0 20px;
  *width: 280px -correction;
  *margin: 0 20px -correction;
}
#right #widgets {
  display: block;
  width: 1000.0000000000001px;
  margin: 0 -20px;
  *width: 1000.0000000000001px -correction;
  *margin: 0 -20px -correction;
}
#right #widgets .widget {
  display: inline;
  float: left;
  overflow: hidden;
  width: 152px;
  margin: 0 20px;
  *width: 152px -correction;
  *margin: 0 20px -correction;
}
#right #widgets .widget p {
  font-size: 0.8em;
}
footer {
  width: 960px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 0.8em;
}
