// nib for vendor previxes and some extra goodies
@import 'nib'
//  grid
@import "bootstylus/reset.styl"
@import "bootstylus/variables.styl"
@import "bootstylus/mixins.styl"
$gridColumnWidth =         40px
$gridGutterWidth =         40px
// convinience shorthand
row()
  $makeRow()
column(span)
  $makeColumn(span)
offset(span)
  $gridSystem-offset($gridColumnWidth, $gridGutterWidth, span)

// technical font (from google)
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqcVNtom4QlEDNJaqqqzqdSs.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqSmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}

// from nib
global-reset()


technical-background-color = #333333
technical-color = #ffffff
technical-font = 1em font-family 'Source Code Pro', 'Monaco', 'Consolas', 'Lucida Console', 'monospace'

creative-background-color = #fcfcfc
creative-color = #000000
creative-font = 1.1em font-family 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', 'serif'




// technical | creative switch
.technical

  font technical-font
  font-weight 300
  // #content
  background-color technical-background-color
  color technical-color

  #switch
    background-position 0 0

  #creative-content
    display none

.creative

  background-color creative-background-color
  color creative-color
  font creative-font

  #content
    h1, h2
      border-bottom 1px solid creative-color

  #switch
    background-position 0 100%

  #technical-content
    display none



h1
  font-size 1.8em
  padding 20px
  padding-bottom 10px
  letter-spacing .4em

h2
  font-size 1.5em
  margin-bottom 10px

h3
  font-size .8em
  font-weight 600
  margin-bottom 3px

p
  margin-bottom 10px
  line-height 1.5
em
  font-style italic

strong
  font-weight 600

li
  margin-left 20px
  list-style circle





body
  font-size 100%

header
  padding 30px 0px 50px
  text-align center

  h2
    font-size 1.2em

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  // border-bottom 1px solid darken(main-color, 30%)

  #switch
    cursor pointer
    position relative
    margin auto
    width 225px
    height (@width / 1.4)
    background-image url('/images/technical-creative.png') //optimize this or use jpg w/ light and dark bg
    background-size 100%

#content
  $container-fixed()
  // full-width-centered()

#creative-content, #technical-content
  row()

#left
  column 8

#right
  column 4

  #widgets
    row()

    .widget
      column 2

      p
        font-size .8em

footer
  $container-fixed()
  text-align center
  padding-top 20px
  font-size .8em